.navbar3-wrapper {
  display: contents;
}
 
.navbar3-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar3-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
 
.navbar3-image1 {
  height: 3rem;
}
 
.navbar3-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar3-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar3-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
 
.navbar3-link6 {
  display: contents;
}
 
.navbar3-icon10 {
  text-decoration: none;
}
 
.navbar3-link7 {
  display: contents;
}
 
.navbar3-icon12 {
  text-decoration: none;
}
 
.navbar3-link8 {
  display: contents;
}
 
.navbar3-icon14 {
  text-decoration: none;
}
 
.navbar3-burger-menu {
  display: none;
}
 
.navbar3-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar3-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar3-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar3-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar3-logo {
  height: 3rem;
}
 
.navbar3-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar3-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar3-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar3-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.main-page-fragment13 {
  display: contents;
}
 
.main-page-text103 {
  display: inline-block;
}
 
.main-page-fragment11 {
  display: contents;
}
 
.main-page-text101 {
  display: inline-block;
}
 
.main-page-fragment10 {
  display: contents;
}
 
.main-page-text100 {
  display: inline-block;
}
 
.main-page-fragment12 {
  display: contents;
}
 
.main-page-text102 {
  display: inline-block;
}
 
.main-page-fragment15 {
  display: contents;
}
 
.main-page-text105 {
  display: inline-block;
}
 
.main-page-fragment14 {
  display: contents;
}
 
.main-page-text104 {
  display: inline-block;
}
 
.main-page-fragment16 {
  display: contents;
}
 
.main-page-text106 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar3-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar3-desktop-menu {
    display: none;
  }
  .navbar3-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar3-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar3-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero17-wrapper {
  display: contents;
}
 
.hero17-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero17-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
 
.hero17-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero17-text1 {
  text-align: center;
}
 
.hero17-text2 {
  text-align: center;
}
 
.hero17-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
 
.hero17-button2 {
  text-decoration: none;
}
 
.hero17-container2 {
  display: contents;
}
 
.main-page-fragment19 {
  display: contents;
}
 
.main-page-text109 {
  display: inline-block;
}
 
.main-page-fragment18 {
  display: contents;
}
 
.main-page-text108 {
  display: inline-block;
}
 
.main-page-fragment17 {
  display: contents;
}
 
.main-page-text107 {
  display: inline-block;
}
 
.main-page-fragment20 {
  display: contents;
}
 
.main-page-text113 {
  display: inline-block;
}
 

 
@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero17-button1 {
    width: 100%;
  }
  .hero17-button2 {
    width: 100%;
  }
}

.gallery5-wrapper {
  display: contents;
}
 
.gallery5-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery5-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery5-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery5-text1 {
  text-align: center;
}
 
.gallery5-text2 {
  text-align: center;
}
 
.gallery5-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.gallery5-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery5-container2 {
  gap: HalfUnits;
  flex: 1;
  width: 100%;
  height: 902px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery5-container3 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
 
.gallery5-image1 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  max-height: 700px;
}
 
.gallery5-image2 {
  width: 100%;
  height: 60%;
  max-height: 700px;
  object-fit: cover;
}
 
.gallery5-container4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.gallery5-image3 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
 
.gallery5-image4 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
 
.main-page-fragment21 {
  display: contents;
}
 
.main-page-text114 {
  display: inline-block;
}
 
.main-page-fragment22 {
  display: contents;
}
 
.main-page-text115 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .gallery5-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery5-container2 {
    height: auto;
  }
  .gallery5-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .gallery5-image2 {
    height: 100%;
  }
  .gallery5-container4 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .gallery5-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .gallery5-image2 {
    max-height: 400px;
  }
}

.features21-wrapper {
  display: contents;
}
 
.features21-layout302 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features21-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features21-section-title {
  align-items: flex-start;
}
 
.features21-content1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features21-feature1 {
  align-items: flex-start;
}
 
.features21-feature2 {
  align-items: flex-start;
}
 
.features21-feature3 {
  align-items: flex-start;
}
 
.features21-feature4 {
  align-items: flex-start;
}
 
.features21-feature5 {
  align-items: flex-start;
}
 
.features21-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
 
.main-page-fragment24 {
  display: contents;
}
 
.main-page-text117 {
  display: inline-block;
}
 
.main-page-fragment30 {
  display: contents;
}
 
.main-page-text126 {
  display: inline-block;
}
 
.main-page-fragment33 {
  display: contents;
}
 
.main-page-text129 {
  display: inline-block;
}
 
.main-page-fragment23 {
  display: contents;
}
 
.main-page-text116 {
  display: inline-block;
}
 
.main-page-fragment25 {
  display: contents;
}
 
.main-page-text118 {
  display: inline-block;
}
 
.main-page-fragment32 {
  display: contents;
}
 
.main-page-text128 {
  display: inline-block;
}
 
.main-page-fragment26 {
  display: contents;
}
 
.main-page-text119 {
  display: inline-block;
}
 
.main-page-fragment27 {
  display: contents;
}
 
.main-page-text120 {
  display: inline-block;
}
 
.main-page-fragment29 {
  display: contents;
}
 
.main-page-text125 {
  display: inline-block;
}
 
.main-page-fragment28 {
  display: contents;
}
 
.main-page-text124 {
  display: inline-block;
}
 
.main-page-fragment31 {
  display: contents;
}
 
.main-page-text127 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .features21-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features21-actions {
    width: 100%;
    flex-direction: column;
  }
}

.banner32-wrapper {
  display: contents;
}
 
.banner32-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.banner32-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
 
.banner32-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner32-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner32-title {
  text-align: center;
}
 
.banner32-text1 {
  text-align: center;
}
 
.banner32-link {
  text-decoration: none;
}
 
.main-page-fragment35 {
  display: contents;
}
 
.main-page-text131 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
 
.main-page-fragment34 {
  display: contents;
}
 
.main-page-text130 {
  display: inline-block;
}
 
.main-page-fragment36 {
  display: contents;
}
 
.main-page-text132 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}

.banner33-wrapper {
  display: contents;
}
 
.banner33-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.banner33-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
 
.banner33-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner33-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner33-title {
  text-align: center;
}
 
.banner33-text1 {
  text-align: center;
}
 
.banner33-link {
  border-color: #1db954;
  text-decoration: none;
  background-color: #1DB954;
}
 
.main-page-fragment37 {
  display: contents;
}
 
.main-page-text133 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
 
.main-page-fragment38 {
  display: contents;
}
 
.main-page-text134 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  display: inline-block;
}
 
.main-page-fragment39 {
  display: contents;
}
 
.main-page-text135 {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}

.features4-wrapper {
  display: contents;
}
 
.features4-layout301 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features4-text10 {
  text-align: center;
}
 
.features4-row {
  width: 100%;
}
 
.features4-feature1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features4-content1 {
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title1 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title1 {
  text-align: center;
}
 
.features4-description1 {
  text-align: center;
}
 
.features4-action4 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.features4-button1 {
  text-decoration: none;
}
 
.features4-feature2 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features4-content2 {
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title2 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title2 {
  text-align: center;
}
 
.features4-description2 {
  text-align: center;
}
 
.features4-action5 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.features4-button2 {
  text-decoration: none;
}
 
.features4-feature3 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features4-content3 {
  align-self: stretch;
  align-items: center;
}
 
.features4-section-title3 {
  align-self: stretch;
  align-items: center;
}
 
.features4-title3 {
  text-align: center;
}
 
.features4-description3 {
  text-align: center;
}
 
.features4-action6 {
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
}
 
.features4-action3 {
  text-decoration: none;
}
 
.features4-icon5 {
  text-decoration: none;
}
 
.main-page-fragment40 {
  display: contents;
}
 
.main-page-text136 {
  display: inline-block;
}
 
.main-page-fragment41 {
  display: contents;
}
 
.main-page-text142 {
  display: inline-block;
}
 
.main-page-fragment42 {
  display: contents;
}
 
.main-page-text143 {
  display: inline-block;
}
 
.main-page-fragment43 {
  display: contents;
}
 
.main-page-text147 {
  display: inline-block;
}
 
.main-page-fragment44 {
  display: contents;
}
 
.main-page-text148 {
  display: inline-block;
}
 
.main-page-fragment45 {
  display: contents;
}
 
.main-page-text149 {
  display: inline-block;
}
 
.main-page-fragment46 {
  display: contents;
}
 
.main-page-text155 {
  display: inline-block;
}
 
.main-page-fragment47 {
  display: contents;
}
 
.main-page-text156 {
  display: inline-block;
}
 
.main-page-fragment48 {
  display: contents;
}
 
.main-page-text157 {
  display: inline-block;
}
 
.main-page-fragment49 {
  display: contents;
}
 
.main-page-text158 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features4-row {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .features4-feature1 {
    width: 100%;
  }
  .features4-feature2 {
    width: 100%;
  }
  .features4-feature3 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .features4-text10 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .features4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.banner34-wrapper {
  display: contents;
}
 
.banner34-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.banner34-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
 
.banner34-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner34-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
 
.banner34-title {
  text-align: center;
}
 
.banner34-text1 {
  text-align: center;
}
 
.banner34-link {
  fill: #282828;
  color: #ffffff;
  border-color: #282828;
  text-decoration: none;
  background-color: #282828;
}
 
.main-page-fragment50 {
  display: contents;
}
 
.main-page-text159 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(40, 40, 40);
  display: inline-block;
}
 
.main-page-fragment51 {
  display: contents;
}
 
.main-page-text160 {
  color: #282828;
  display: inline-block;
}
 
.main-page-fragment52 {
  display: contents;
}
 
.main-page-text161 {
  display: inline-block;
}

.features6-wrapper {
  display: contents;
}
 
.features6-layout216 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features6-max-width {
  gap: var(--dl-space-space-threeunits);
}
 
.features6-section-title {
  align-items: flex-start;
}
 
.features6-list {
  align-self: stretch;
  align-items: flex-start;
}
 
.features6-list-item1 {
  align-items: flex-start;
}
 
.features6-list-item2 {
  align-items: flex-start;
}
 
.features6-actions {
  align-self: flex-start;
}
 
.features6-button1 {
  text-decoration: none;
}
 
.features6-button2 {
  text-decoration: none;
}
 
.main-page-fragment53 {
  display: contents;
}
 
.main-page-text162 {
  display: inline-block;
}
 
.main-page-fragment54 {
  display: contents;
}
 
.main-page-text163 {
  display: inline-block;
}
 
.main-page-fragment55 {
  display: contents;
}
 
.main-page-text164 {
  display: inline-block;
}
 
.main-page-fragment56 {
  display: contents;
}
 
.main-page-text165 {
  display: inline-block;
}
 
.main-page-fragment57 {
  display: contents;
}
 
.main-page-text166 {
  display: inline-block;
}
 
.main-page-fragment58 {
  display: contents;
}
 
.main-page-text167 {
  display: inline-block;
}
 
.main-page-fragment59 {
  display: contents;
}
 
.main-page-text168 {
  display: inline-block;
}
 
.main-page-fragment60 {
  display: contents;
}
 
.main-page-text173 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features6-layout216 {
    width: 100%;
  }
  .features6-max-width {
    flex-direction: column;
  }
  .features6-image1 {
    width: 100%;
  }
  .features6-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features6-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features6-list {
    flex-direction: column;
  }
  .features6-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
  }
  .features6-button1 {
    width: 100%;
  }
  .features6-button2 {
    width: 100%;
  }
}

.gallery14-wrapper {
  display: contents;
}
 
.gallery14-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery14-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery14-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery14-text10 {
  text-align: center;
}
 
.gallery14-text11 {
  text-align: center;
}
 
.gallery14-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery14-container1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery14-image1 {
  width: 100%;
  height: 300px;
  max-width: 600px;
  align-self: center;
}
 
.gallery14-text13 {
  text-align: center;
}
 
.gallery14-container2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery14-image2 {
  width: 100%;
  height: 300px;
  max-width: 600px;
  align-self: center;
}
 
.gallery14-text15 {
  text-align: center;
}
 
.gallery14-container3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.main-page-fragment61 {
  display: contents;
}
 
.main-page-text174 {
  display: inline-block;
}
 
.main-page-fragment62 {
  display: contents;
}
 
.main-page-text175 {
  display: inline-block;
}
 
.main-page-fragment63 {
  display: contents;
}
 
.main-page-text181 {
  display: inline-block;
}
 
.main-page-fragment64 {
  display: contents;
}
 
.main-page-text182 {
  display: inline-block;
}
 
.main-page-fragment65 {
  display: contents;
}
 
.main-page-text183 {
  display: inline-block;
}
 
.main-page-fragment66 {
  display: contents;
}
 
.main-page-text184 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .gallery14-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery14-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 360px;
  }
  .gallery14-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 360px;
  }
}

.contact5-wrapper {
  display: contents;
}
 
.contact5-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact5-max-width {
  align-self: center;
}
 
.contact5-section-title {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
}
 
.contact5-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact5-content2 {
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact5-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact5-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact5-contact-info1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact5-text12 {
  align-self: flex-start;
  text-align: center;
}
 
.contact5-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact5-contact-info2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact5-text14 {
  align-self: flex-start;
  text-align: center;
}
 
.contact5-content6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact5-contact-info3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact5-text17 {
  align-self: flex-start;
  text-align: center;
}
 
.contact5-image {
  max-width: 767px;
}
 
.main-page-fragment67 {
  display: contents;
}
 
.main-page-text188 {
  display: inline-block;
}
 
.main-page-fragment68 {
  display: contents;
}
 
.main-page-text189 {
  display: inline-block;
}
 
.main-page-fragment69 {
  display: contents;
}
 
.main-page-text190 {
  display: inline-block;
}
 
.main-page-fragment70 {
  display: contents;
}
 
.main-page-text191 {
  display: inline-block;
}
 
.main-page-fragment71 {
  display: contents;
}
 
.main-page-text192 {
  display: inline-block;
}
 
.main-page-fragment72 {
  display: contents;
}
 
.main-page-text193 {
  display: inline-block;
}
 
.main-page-fragment73 {
  display: contents;
}
 
.main-page-text194 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact5-content2 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}

.footer4-wrapper {
  display: contents;
}
 
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-logo {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer4-container {
  display: flex;
  align-items: flex-start;
}
 
.footer4-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer4-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
.main-page-fragment74 {
  display: contents;
}
 
.main-page-text199 {
  display: inline-block;
}
 
.main-page-fragment78 {
  display: contents;
}
 
.main-page-text203 {
  display: inline-block;
}
 
.main-page-fragment76 {
  display: contents;
}
 
.main-page-text201 {
  display: inline-block;
}
 
.main-page-fragment77 {
  display: contents;
}
 
.main-page-text202 {
  display: inline-block;
}
 
.main-page-fragment81 {
  display: contents;
}
 
.main-page-text206 {
  display: inline-block;
}
 
.main-page-fragment75 {
  display: contents;
}
 
.main-page-text200 {
  display: inline-block;
}
 
.main-page-fragment80 {
  display: contents;
}
 
.main-page-text205 {
  display: inline-block;
}
 
.main-page-fragment79 {
  display: contents;
}
 
.main-page-text204 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.main-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.main-page-fragment10 {
  display: contents;
}
 
.main-page-text100 {
  display: inline-block;
}
 
.main-page-fragment11 {
  display: contents;
}
 
.main-page-text101 {
  display: inline-block;
}
 
.main-page-fragment12 {
  display: contents;
}
 
.main-page-text102 {
  display: inline-block;
}
 
.main-page-fragment13 {
  display: contents;
}
 
.main-page-text103 {
  display: inline-block;
}
 
.main-page-fragment14 {
  display: contents;
}
 
.main-page-text104 {
  display: inline-block;
}
 
.main-page-fragment15 {
  display: contents;
}
 
.main-page-text105 {
  display: inline-block;
}
 
.main-page-fragment16 {
  display: contents;
}
 
.main-page-text106 {
  display: inline-block;
}
 
.main-page-fragment17 {
  display: contents;
}
 
.main-page-text107 {
  display: inline-block;
}
 
.main-page-fragment18 {
  display: contents;
}
 
.main-page-text108 {
  display: inline-block;
}
 
.main-page-fragment19 {
  display: contents;
}
 
.main-page-text109 {
  display: inline-block;
}
 
.main-page-fragment20 {
  display: contents;
}
 
.main-page-text113 {
  display: inline-block;
}
 
.main-page-fragment21 {
  display: contents;
}
 
.main-page-text114 {
  display: inline-block;
}
 
.main-page-fragment22 {
  display: contents;
}
 
.main-page-text115 {
  display: inline-block;
}
 
.main-page-fragment23 {
  display: contents;
}
 
.main-page-text116 {
  display: inline-block;
}
 
.main-page-fragment24 {
  display: contents;
}
 
.main-page-text117 {
  display: inline-block;
}
 
.main-page-fragment25 {
  display: contents;
}
 
.main-page-text118 {
  display: inline-block;
}
 
.main-page-fragment26 {
  display: contents;
}
 
.main-page-text119 {
  display: inline-block;
}
 
.main-page-fragment27 {
  display: contents;
}
 
.main-page-text120 {
  display: inline-block;
}
 
.main-page-fragment28 {
  display: contents;
}
 
.main-page-text124 {
  display: inline-block;
}
 
.main-page-fragment29 {
  display: contents;
}
 
.main-page-text125 {
  display: inline-block;
}
 
.main-page-fragment30 {
  display: contents;
}
 
.main-page-text126 {
  display: inline-block;
}
 
.main-page-fragment31 {
  display: contents;
}
 
.main-page-text127 {
  display: inline-block;
}
 
.main-page-fragment32 {
  display: contents;
}
 
.main-page-text128 {
  display: inline-block;
}
 
.main-page-fragment33 {
  display: contents;
}
 
.main-page-text129 {
  display: inline-block;
}
 
.main-page-fragment34 {
  display: contents;
}
 
.main-page-text130 {
  display: inline-block;
}
 
.main-page-fragment35 {
  display: contents;
}
 
.main-page-text131 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
 
.main-page-fragment36 {
  display: contents;
}
 
.main-page-text132 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
 
.main-page-fragment37 {
  display: contents;
}
 
.main-page-text133 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
 
.main-page-fragment38 {
  display: contents;
}
 
.main-page-text134 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  display: inline-block;
}
 
.main-page-fragment39 {
  display: contents;
}
 
.main-page-text135 {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
 
.main-page-fragment40 {
  display: contents;
}
 
.main-page-text136 {
  display: inline-block;
}
 
.main-page-fragment41 {
  display: contents;
}
 
.main-page-text142 {
  display: inline-block;
}
 
.main-page-fragment42 {
  display: contents;
}
 
.main-page-text143 {
  display: inline-block;
}
 
.main-page-fragment43 {
  display: contents;
}
 
.main-page-text147 {
  display: inline-block;
}
 
.main-page-fragment44 {
  display: contents;
}
 
.main-page-text148 {
  display: inline-block;
}
 
.main-page-fragment45 {
  display: contents;
}
 
.main-page-text149 {
  display: inline-block;
}
 
.main-page-fragment46 {
  display: contents;
}
 
.main-page-text155 {
  display: inline-block;
}
 
.main-page-fragment47 {
  display: contents;
}
 
.main-page-text156 {
  display: inline-block;
}
 
.main-page-fragment48 {
  display: contents;
}
 
.main-page-text157 {
  display: inline-block;
}
 
.main-page-fragment49 {
  display: contents;
}
 
.main-page-text158 {
  display: inline-block;
}
 
.main-page-fragment50 {
  display: contents;
}
 
.main-page-text159 {
  fill: var(--dl-color-theme-neutral-dark);
  color: rgb(40, 40, 40);
  display: inline-block;
}
 
.main-page-fragment51 {
  display: contents;
}
 
.main-page-text160 {
  color: #282828;
  display: inline-block;
}
 
.main-page-fragment52 {
  display: contents;
}
 
.main-page-text161 {
  display: inline-block;
}
 
.main-page-fragment53 {
  display: contents;
}
 
.main-page-text162 {
  display: inline-block;
}
 
.main-page-fragment54 {
  display: contents;
}
 
.main-page-text163 {
  display: inline-block;
}
 
.main-page-fragment55 {
  display: contents;
}
 
.main-page-text164 {
  display: inline-block;
}
 
.main-page-fragment56 {
  display: contents;
}
 
.main-page-text165 {
  display: inline-block;
}
 
.main-page-fragment57 {
  display: contents;
}
 
.main-page-text166 {
  display: inline-block;
}
 
.main-page-fragment58 {
  display: contents;
}
 
.main-page-text167 {
  display: inline-block;
}
 
.main-page-fragment59 {
  display: contents;
}
 
.main-page-text168 {
  display: inline-block;
}
 
.main-page-fragment60 {
  display: contents;
}
 
.main-page-text173 {
  display: inline-block;
}
 
.main-page-fragment61 {
  display: contents;
}
 
.main-page-text174 {
  display: inline-block;
}
 
.main-page-fragment62 {
  display: contents;
}
 
.main-page-text175 {
  display: inline-block;
}
 
.main-page-fragment63 {
  display: contents;
}
 
.main-page-text181 {
  display: inline-block;
}
 
.main-page-fragment64 {
  display: contents;
}
 
.main-page-text182 {
  display: inline-block;
}
 
.main-page-fragment65 {
  display: contents;
}
 
.main-page-text183 {
  display: inline-block;
}
 
.main-page-fragment66 {
  display: contents;
}
 
.main-page-text184 {
  display: inline-block;
}
 
.main-page-fragment67 {
  display: contents;
}
 
.main-page-text188 {
  display: inline-block;
}
 
.main-page-fragment68 {
  display: contents;
}
 
.main-page-text189 {
  display: inline-block;
}
 
.main-page-fragment69 {
  display: contents;
}
 
.main-page-text190 {
  display: inline-block;
}
 
.main-page-fragment70 {
  display: contents;
}
 
.main-page-text191 {
  display: inline-block;
}
 
.main-page-fragment71 {
  display: contents;
}
 
.main-page-text192 {
  display: inline-block;
}
 
.main-page-fragment72 {
  display: contents;
}
 
.main-page-text193 {
  display: inline-block;
}
 
.main-page-fragment73 {
  display: contents;
}
 
.main-page-text194 {
  display: inline-block;
}
 
.main-page-fragment74 {
  display: contents;
}
 
.main-page-text199 {
  display: inline-block;
}
 
.main-page-fragment75 {
  display: contents;
}
 
.main-page-text200 {
  display: inline-block;
}
 
.main-page-fragment76 {
  display: contents;
}
 
.main-page-text201 {
  display: inline-block;
}
 
.main-page-fragment77 {
  display: contents;
}
 
.main-page-text202 {
  display: inline-block;
}
 
.main-page-fragment78 {
  display: contents;
}
 
.main-page-text203 {
  display: inline-block;
}
 
.main-page-fragment79 {
  display: contents;
}
 
.main-page-text204 {
  display: inline-block;
}
 
.main-page-fragment80 {
  display: contents;
}
 
.main-page-text205 {
  display: inline-block;
}
 
.main-page-fragment81 {
  display: contents;
}
 
.main-page-text206 {
  display: inline-block;
}
