.features6-layout216 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.features6-max-width {
  gap: var(--dl-space-space-threeunits);
}
 
.features6-section-title {
  align-items: flex-start;
}
 
.features6-list {
  align-self: stretch;
  align-items: flex-start;
}
 
.features6-list-item1 {
  align-items: flex-start;
}
 
.features6-list-item2 {
  align-items: flex-start;
}
 
.features6-actions {
  align-self: flex-start;
}
 
.features6-button1 {
  text-decoration: none;
}
 
.features6-button2 {
  text-decoration: none;
}
 
.features6-fragment1 {
  display: contents;
}
 
.features6-text16 {
  display: inline-block;
}
 
.features6-fragment2 {
  display: contents;
}
 
.features6-text17 {
  display: inline-block;
}
 
.features6-fragment3 {
  display: contents;
}
 
.features6-text18 {
  display: inline-block;
}
 
.features6-fragment4 {
  display: contents;
}
 
.features6-text19 {
  display: inline-block;
}
 
.features6-fragment5 {
  display: contents;
}
 
.features6-text20 {
  display: inline-block;
}
 
.features6-fragment6 {
  display: contents;
}
 
.features6-text21 {
  display: inline-block;
}
 
.features6-fragment7 {
  display: contents;
}
 
.features6-text22 {
  display: inline-block;
}
 
.features6-fragment8 {
  display: contents;
}
 
.features6-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features6-layout216 {
    width: 100%;
  }
  .features6-max-width {
    flex-direction: column;
  }
  .features6-image1 {
    width: 100%;
  }
  .features6-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .features6-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features6-list {
    flex-direction: column;
  }
  .features6-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
  }
  .features6-button1 {
    width: 100%;
  }
  .features6-button2 {
    width: 100%;
  }
}
